
@{
    ViewBag.Title = "IndexReporteOrdenCompra";
}

<h1>Reportes Ordenes Compras</h1>
<br />
<br />
<table class="table">
    <tr>
        <th>
            <div class="form-group">
                <h4>Reportes Proveedores</h4>
                <br />
                <img src="~/images/036-human-resources-4.png" alt="Perfil" width="120" height="120" border="3" />
                @Html.ActionLink("Consultar", "ExportProveedores", "proveedores", null, new { @class = "btn btn-danger" })
            </div>
        </th>
       
        <th>
            <div class="form-group">

                <h4>Reportes de ordenes de Compra</h4>
                <br />
                <img src="~/images/008-account.png" "" alt="Perfil" width="120" height="120" border="3" />
                @Html.ActionLink("Consultar", "ExportOrdenes", "ordenesCompras", null, new { @class = "btn btn-danger" })
            </div>
        </th>
      

    </tr>
</table>


