@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->

<div class="jumbotron text-center  ">
    <h1>  ManSource</h1>
    <p class="lead">  Su aplicacion para el manejo y administracion de su empresa.</p>
    <p><a href="" class="btn btn-white text-danger btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Reportes</h2>
        <p>
            Puedes ver los reportes de los diferentes procesos que realizas en tu empresa, asi llevar el control mas objetivo de la misma.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Procesos</h2>
        <p>Es fue creado para simplificarte la vida en tu empresa, para que sea mas agil y te genere mas ingresos.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acceso Remoto</h2>
        <p>Accede a tu empresa donde sea y cuando sea, no importa el lugar que estes, Nuestra prioridad es servirte.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


